.App {
  text-align: center;
}

.header{
  width: 100%;
  background-color: rgb(20,44,143);
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 70%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu{
  /* background-color: yellow; */
  width: 70%;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo{
  width: 15%;
  cursor: pointer;
  /* background-color: brown; */
}
.menu-items{
  width: 100%;
  /* background-color: pink; */
}
.list{
  display: flex;
 list-style: none;
 justify-content: start;
 align-items: center;
 padding: 0;
 justify-content: space-between;
 color: rgba(255, 255, 255, 0.711);
 font-weight: 500;
 cursor: pointer;

}
.list-2{
  width: 100%;
  display: flex;
 list-style: none;
 justify-content: end;
 align-items: center;
 padding: 0;
 justify-content: space-between;
 color: rgba(255, 255, 255, 0.711);
 font-weight: 500;
 cursor: pointer;
 /* background-color: red; */

}


.navbar-options{
  /* background-color: green; */
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: space-between;
  /* padding: 8px 8px; */
}
